name: test

on:

    push:
      branches:
        - main
        - beta


jobs:
  python-test:
    runs-on: ubuntu-latest

    steps:

      - name: checkout code
        uses: actions/checkout@v4

      - name: satup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: install pytest
        run: |
          pip install pytest

      - name: run test
        run: |
          pytest

      - name: run script
        run: |
          python app.py



