name: test

on:
    - push

jobs:
    run-python:
        runs-on: ubuntu-latest

        steps:

            - name: checkout code
              uses: actions/checkout@v4

            - name: setup python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"
    
            - name: Install Dependency
              run: |
                pip install -r requirements.txt
                pip install pytest
                
            - name: run test
              run : |
                pytest -q || true

            - name: run python script
              run: |
                python app.py &
                sleep 5
                curl http://127.0.0.1:5000

