name: print hello

on:
  - push

jobs:
   run-python:

    runs-on: ubuntu-latest

    steps:

      - name: checkout code
        uses: actions/checkout@v4

      - name: setups python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10

      - name: run script
        run: |
          python app.py

