name: python test

on:
  push:
    branches:
      - main
      - beta


jobs:

  run-python:

    runs-on: ubuntu-latest

    steps:

      - name: checkout code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5

      - name: install pytest
        run : |
          pip install pytest

      - name: run test
        run : |
          pytest

      - name: run script
        run : |
          python app.py

