name: test and run

on:
  push:
    branches:
      - main
      - beta

  
jobs:

  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: install python
        uses: actions/setup-python@v5
        with:
            python-version: '3.8'

      - name: run script
        run: |
          python app.py


