name: test

on:

  push:

    branches:
      -main
      -beta


jobs:

  run-python:

    runs-on: ubuntu-lates
    
    steps:

      - name: checkout
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: run script
        run: |
          python app.py
