name: print hello

on:
  - push

jobs:
  run-python:

    runs-on: ubuntu-latest

    steps:

      - name: code checkout
        uses: actions/codecheckout@v4

      - name: print hello
        run: echo "Hello from GitHub Actions!"