name: test

on:
    - push

jobs:
    run-python:
        runs-on: ubuntu-latest

        steps:

            - name: checkout code
              uses: actions/checkoutcode@v4

            - name: setup python
              uses: actions/setup-python@v5
              with:
                python-version: 3.10

            - name: run python script
              run: |
                python app.py

