name: print hello

on:
  - push

jobs:
  run-python:

    runs-on: ubuntu-latest

    steps:

      - name: code checkout
        uses: actions/codecheckout@v4

      # - name: setup-python
      #   uses: actions/setup-python@v4

      - name: print hello
        uses: echo 'hello new code has been pushed'